{{ if .Pages }}
    <li>
        <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
        <ul>
            {{ if .Sections }}
                {{ range .Sections.ByWeight.Reverse }}
                    {{ partial "menu_page_list.html" . }}
                {{ end }}
            {{ else }}
                {{ range .Pages.ByWeight.Reverse }}
                    <li><a href="#{{ .Params.anchor }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </li>
{{ else }}
    <li>
        <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
    </li>
{{ end }}

